<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= props.projectDescription %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <link rel="stylesheet" href="<%= props.mainCss %>" media="screen">
  <link rel="shortcut icon" href="favicon.ico" />

  <script src="//localhost:9091"></script>
</head>


<body>
  <div id="map"></div>

  <% if (props.libs.length) { %>
  <script type="text/javascript" src="zzz-libs-dist.js"></script>
  <% } %>
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
