<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= props.projectDescription %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <link rel="stylesheet" href="<%= props.mainCss %>" media="screen">
  <link rel="icon" type="image/png" href="./favicon.png">

  <script src="//localhost:9091"></script>
</head>


<body>
  <div id="map"></div>

  <% if (props.libs.length) { %>
  <script type="text/javascript" src="zzz-libs-dist.js"></script>
  <% } %>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <script type="text/javascript" src="<%= props.mainJs %>"></script>
</body>
</html>
