<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= props.projectDescription %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="zzz-dist.css" media="screen">
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

  <script src="//localhost:9091"></script>
</head>


<body>
  <div id="map"></div>

  <script type="text/javascript" src="zzz-libs-dist.js"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb_nojquery.js"></script>
  <script type="text/javascript" src="zzz-dist.js"></script>
</body>
</html>
